comtypes==1.1.7
EasyProcess==0.3
emoji==0.6.0
entrypoint2==0.2.3
keyboard==0.13.5
lupa==1.9
mpmath==1.1.0
mss==6.1.0
numpy==1.19.4
Pillow==8.0.1
py-cron-schedule==0.0.7
pypiwin32==223
pyscreenshot==2.2
pywin32==300
pywinauto==0.6.8
six==1.15.0
sympy==1.7
win10toast==0.9
wxPython==4.1.1
